
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Malcom Pub Cuiabá</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="Malcom Pub Club, a melhor balada rock e eletro em Cuiabá" />
    <meta name="keywords" content="Malcom, rock, balada, drinks, beer, cerveja gelada, noite, club, pub">
    <meta name="author" content="Vinícius Baum" />
    <meta name="MobileOptimized" content="320">
    <!--srart theme style -->
    <link href="~/Content/main.css" rel="stylesheet" />
    <link rel="stylesheet" id="theme-color" type="text/css" href="#" />
    <link rel="stylesheet" id="theme-pattern" type="text/css" href="#" />
    <!-- end theme style -->
    <link rel="shortcut icon" href="favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
